*~
.DS_Store
dependencies/*/
__pycache__/
*.png
*.vtk
*.vtp
*.vtu
*.txt
*.lon
*.elem
*.elem-e
*.ply
*.fig
*.stl
*.surf
*.vpts
*.stl
*.vec
*.mshz
*.msh
*.vtx
*.neubc
*.nod
*.pts
*.pvsm
@cobiveco/computeHeartAxesAndApex_original_septal_curve.m
@cobiveco/Heart20220124.m
20210323_cobiveco_python.md
20210330_cobiveco_python_update.md
20210624_project_1_team_meeting.md
examples/result*
gptoolbox/
matlab.mat
matlab_saga.md
map_fd/
mmg/
numerical-tours/
quick_guide_tofile_types_andCobiveco.md
examples/example_cap1_coarser.m
examples/example_cap1_coarser_clean.m
examples/example_cap1_ctrl.m
examples/example_cap1_fine.mß
examples/example_gmsh.m
examples/example_gmsh_split.m
vtkToolbox/
test_1
test_rot.m
test_rot_jul.m
test_tm.m
examples/meanTOF/__pycache__/
libmex.dylib
examples/gmsh/
examples/gmsh_rt_av/
examples/gmsh_split_20210823/
examples/gmsh_split_20210824/
examples/gmsh_split_20210824_smaller/
examples/gmsh_split_av_pv/
examples/gmsh_split_small/
examples/cap1/meshio_read.py
examples/cap1_10/
examples/cap1_coarser/
examples/cap1_coarser_09/
examples/cap1_fine/
examples/cap1_finer_mesh_results/
examples/kevin_reclassify/surface_boundaries_kevin_reclassify.blend
examples/kevin_reclassify/surface_boundaries_kevin_reclassify.blend1
examples/example_trasnform_vtk_vtu.py
examples/kevin_reclassify/interp3d/
examples/meanTOF/preparation_files/
examples/meanTOF_back/
condalab-master*
