*~
.DS_Store
dependencies/*/
__pycache__/
*.png
*.vtk
*.vtp
*.vtu
*.txt
*.lon
*.elem
*.elem-e
*.ply
*.fig
*.stl
*.surf
*.vpts
*.stl
*.vec
*.mshz
*.msh
*.vtx
*.neubc
*.nod
*.pts
*.pvsm
examples/result*
gptoolbox/
mmg/
vtkToolbox/
condalab-master*
